<h2>Productos</h2>

<% if(prodejs.length>0){ %>
    <table id='tabla'>
    <tr>
        <td>Nombre</td>
        <td>Precio</td>
        <td>Imagen</td>
    </tr>
    <%prodejs.forEach(function(producto) {%>
    <tr>
        <td class={{this.id}}><%=producto.nombre%></td>
        <td class={{this.id}}><%=producto.precio%></td>
        <td class={{this.id}}><%=producto.foto%></td>
    </tr>
        
    <%});%>
</table>
<% } else{ %>
    <h3 class="alert alert-danger">no se encontraron datos</h1>
<% } %>